h1 {
    font-family: 'Allura', cursive;
    text-align: center;
    font-size: 45px;
}

.center {
    margin-left: auto;
    display: block;
    margin-right: auto;
    
}

.recipelist {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.mac {
    background-color: #fbe4de;
}

.greens {
    background-color: #fbe4de;
}

.pie {
    background-color: #fbe4de;
}